#createUser{
    background-color: #868988;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Advent Pro;
}


#login{
    background-color: #868988;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Advent Pro;
}

#createEvent{
    background-color: #868988;
    border: none;
    color: black;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Advent Pro;
}