
/* Add a black background color to the top navigation */
#top-menu-bar {
    background-color: lightgrey;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#button .login-container button {
    float: right;
    padding: 100px;
    margin-top: 8px;
    margin-left: 300px;
    margin-right: 16px;
    background: lightgrey;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* hej */

li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Ændre farven på knappen, når man holder sin mus hen over den */
li a:hover {
    background-color: #111111;
}

<ul>
    <li><a href="#home">Home</a>>/li>
    <li><a href